<launch>
  <!-- TURTLEBOT3_MODEL variable mush be set. Otherwise, teleop would crash! -->
  <set_env name="TURTLEBOT3_MODEL" value="waffle"/>

  <executable cmd = "ros2 launch turtlebot3_cartographer cartographer.launch.py" output="screen"/>

  <node
      pkg="rviz2"
      exec="rviz2"
      args = "-d $(find-pkg-share final_project)/rviz/turtlebot_draw_map.rviz"
      output="screen"/>

  <node
    pkg="turtlebot3_teleop"
    exec="teleop_keyboard"
    output="screen"
    launch-prefix="xterm -e">
  </node>

</launch>
